@font-face {
  font-family: "Janna LT W20";
  src: url("../fonts/Janna_LT_W20.eot#iefix");
  src: url("../fonts/Janna_LT_W20.eot#iefix") format("eot"),
  url("../fonts/Janna_LT_W20.woff") format("woff"),
  url("../fonts/Janna_LT_W20.ttf") format("truetype"),
  url("../fonts/Janna_LT_W20.svg") format("svg");
  font-weight: normal;
  font-style: normal
}

/****************************************************************/

body {
	font-family: 'Janna LT W20', sans-serif !important;
}

/*-----------------------CUSTOM OPTION-------------------------*/

.page-content {
  background-color: #f7f7f7;
}

.no-bg-color {
  background: transparent !important;
}

.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}

.center {
  text-align: center;
}

.loading {
  text-align: center;
}

.loading img {
  width: 25px;
}

.list-block .item-media+.item-inner {
    margin-left: 0;
    margin-right: 0px;
}

.list-block .item-media{
    font-size: 1.5em;
}

.list-block .item-content {
    padding-left: 0;
    padding-right: 16px;
    margin: 0px 1em;
}

.list-block ul:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: transparent;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.list-block ul:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
    height: 1px;
    width: 100%;
    background-color: transparent;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.list-block .item-inner:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.list-block .item-inner:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: transparent;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.button.color-green, .buttons-row{
    margin: 0px 25px;
}

.button.button-fill.color-blue {
  background: #2196f3!important;
  color: #fff;
  border-radius: 50px;
  margin: 0 35px;
}

input::-webkit-input-placeholder {
color: #000 !important;
}

input:-moz-placeholder { /* Firefox 18- */
color: #000 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
color: #000 !important;
}

input:-ms-input-placeholder {
color: #000 !important;
}

.button i{
    margin-left: 10px;
}

.navbar, .subnavbar, .toolbar {
    background: #2196f3;
    position: relative !important;
}

.navbar .center, .subnavbar .center{
    margin: 0px;
}

.tab-link.active{
    border-bottom: 1px solid #fff;
}

.subnavbar{
    background: #4a8c7d;
}

.navbar-fixed .page .subnavbar, .navbar-fixed.page .subnavbar{
    top: 0px;
}

.navbar-fixed .page-content.with-subnavbar,
.navbar-fixed .subnavbar~.page-content,
.navbar-fixed .with-subnavbar .page-content {
    padding-top: 0px;
    padding-bottom: 55px;
}

.page-content {
  padding-bottom: 55px !important;
}


.filter{
    background: #39a7ff;
}

.filter .button{
    color: #fff;
}

.popover {
      width: 200px;
    }
.button{
    font-size: 1em;
}
.buttons-row .button{
  height: 48px;
  line-height: 48px;
  font-size: 1.2em;
  border-radius: 50px;
}

.content-block {
    margin: 15px 0;
    padding: 0 16px;
    box-sizing: border-box;
}

.card img{
    width: 100%;
}

.card-content-inner {
    padding: 3px;
    position: relative;
}

.card-footer:before{
    background: transparent;
}

.card-content {
    position: relative;
    height: 125px;
    overflow: hidden;
}

.card-footer b{
    display: block;
    margin: 0px auto;
}

.card-footer p{
    display: block;
    margin: 0px auto;
}

.card .content-block{
    width: 100%;
    text-align: center;
}

.tabs-swipeable-wrap {
    height: 85%;
}

.searchbar{
    background: #31bc84;
}

.searchbar input[type=search] {
    background-position: right center;
    padding: 0 24px 0 36px;
    color: #000;
}

.panel {
  background: #f7f7f7;
  border-left: 1px solid #ccc;
}

.panel a {
  display: block;
  padding: 5px 0;
  font-size: 1.2em;
  color: #555;
  margin-right: 1em;
}

.panel a i {
  color: #2196f3;
  margin-left: 15px;
  font-size: 1.2em;
}

.panel .content-block {
  margin: 0;
  padding: 0;
}

.panel .panel-prof {
  text-align: center;
  background: url(../img/intro.jpg);
  background-size: cover;
  padding: 15px 0 5px 0;
  margin-bottom: 2em;
}

.panel .panel-prof .img-container {
  height: 8em;
  width: 8em;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}

.panel .panel-prof img {
  width: 8em;
  height: 8em;
  margin: 0 auto;
}

.panel .panel-prof h4 {
  color: #404040;
  font-size: 1.3em;
  margin: 10px 0;
  letter-spacing: 0.3px;
}



/*-----------------------LOGIN PAGE-------------------------*/
.login {
    text-align: center;
    background: url("../img/splash.jpg") fixed no-repeat center;
    background-size: cover;
    height: 100%;
}

.bg-img {
  background: url("../img/intro.jpg") fixed no-repeat center;
  background-size: cover;
  height: 100%;
}

.search .content-block{
    margin: 0px;
    padding: 0px;
}

.search .page-content {
    padding-top: 0px !important;
}

.navbar-inner.cached {
    display: flex;
}

.list-block .item-input {
    width: 100%;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    font-size: 0;
    position: relative;
    margin-bottom: 4px;
    min-height: 36px;
    background-color: rgba(255, 255, 255, 0.68);
    border-radius: 50px;
    padding: 5px 15px;
    margin-bottom: 0;
    border: 1px solid #ccc;
}

.list-block .item-media {
  min-width: 25px;
}

.list-block .item-link .item-inner {
    background: rgba(255, 255, 255, 0.68);
    padding: 0 14px 0 35px;
    border-radius: 50px;
    margin: 6px 0;
    margin-left: 15px;
    border: 1px solid #ccc;
}

.list-block {
   margin: 0;
  font-size: 16px;
}

.buttons-row .button:first-child {
  margin-right: 10px;
}

.button.button-fill.bg-red,
.button.button-fill.color-red {
    background: #f44336!important;
    color: #fff;
    margin-left: 10px;
}

.logo-cont {
  margin: 0;
  padding: 0;
}

.logo-cont img {
  width: 30%;
}

::-webk it-input-placeholder {
   color: #777 !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #777 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #777 !important;
}

:-ms-input-placeholder {
   color: #777 !important;
}

.sales-popup h4 {
  text-align: center;
  margin: 0 6%;
  margin-top: 43vh;
  color: #fff;
  font-size: 1.2em;
}

.dr-block {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  padding: 8px;
  padding-bottom: 3px;
  box-shadow: 0 0 13px -1px #dadada;
  margin-bottom: 10px;
}

.dr-block img {
  width: 100%;
  border-radius: 3px;
}
.dr-block h4 {
  margin: 0;
  font-weight: bold;
  letter-spacing: 0.3px;
  font-size: 1.1em;
  color: #333;
}
.dr-block p {
  margin: 3px 0;
  color: #777;
}

.dr-block span {
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 8px;
  background-color: #2196f3;
  color: #fff;
  padding: 3px 9px;
  border-radius: 3px;
}

.list-block .floating-label, .list-block .label {
  width: 25%;
}

.dr-prof-block {
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  position: relative;
}
.dr-prof-block img {
  width: 8em;
  height: 8em;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #2196f3;
  padding: 5px;
}
.dr-prof-block h4 {
  margin: 7px 0;
  font-size: 1.3em;
  color: #444;
}
.dr-prof-block span {
  display: inline-block;
  font-size: 1em;
  margin: 0 1em;
}

.content-block-title {
  color: #555;
  line-height: 1.5;
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: 0.3px;
}

.card-block {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.card-block h4 {
  margin: 0;
  color: #fff;
  background-color: #2196f3;
  padding: 5px 10px;
  border-radius: 5px;
}

.card-block p {
  margin-right: 5px;
}

.dr-contact-btns a {
  height: 45px;
  line-height: 45px;
  border: 1px solid #2196f3;
  border-radius: 5px;
  color: #2196f3;
}

.same-drs {
  padding: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
}
.same-drs img {
  width: 100%;
  border-radius: 5px;
}
.same-drs h4 {
  color: #555;
  background-color: inherit;
}
.same-drs span {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000;
  color: #fff;
  padding: 7px 6px;
  height: 13px;
  width: 30px;
  border-radius: 5px;
  display: inline-block;
  line-height: 1;
}


.sender h5 {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.comment {
  /*border-bottom: 1px solid #ccc;*/
  padding-bottom: 5px;
}
.comment h5 {
  margin-bottom: 0px;
  font-size: 1.1em;
  color: #333;
}
.comment span {
  display: inline-block;
  direction: ltr;
  font-size: 1em;
  color: #555;
  margin-top: 2px;
  letter-spacing: 0.5px;
  float: right;
}
.comment p {
  margin: 15px 0;
}
.comment .actions {
  float: left;
  display: inline-block;
}
.comment .actions a {
  color: #333;
  font-size: 1.2em;
  padding: 0px 5px;
  line-height: 0;
}

.reseaver {
  margin-right: 3em;
  background-color: #f1f1f1;
  padding: 0px 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.reseaver h5 {
  margin-top: 5px;
}

.add-comment {
  border: 1px solid #2196f3;
  margin-top: 1em;
  line-height: 2.3;
}

.close-picker-btn {
  color: #fff;
  margin-left: 15px;
}

.edit-btn {
  position: absolute;
  left: 10px;
  top: 10px;
  background: #ccc;
  color: #555;
  height: 25px;
  width: 25px;
  padding: 2px;
  border-radius: 4px;
}

.alert {
  bottom: 10px;
  top: inherit !important;
  direction: ltr;
  background-color: #fb5555 !important;
  width: 30px;
}

.alert i {
  margin-right: 5px;
}

.login-item-input {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #888 !important;
  border-radius: 0 !important;
}


.prof-img-container {
  width: 8.6em;
  height: 8.6em;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.prof-img-container img {
  width: 100%;
  height: 100%;
  padding: 0;
}

.prof-img-container .img-overlay {
  position: absolute;
  background-color: rgba(78, 78, 78, 0.64);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.prof-img-container .img-overlay i {
  color: #fff;
  font-size: 2.5em;
  margin-top: 1em;
}


/*end*/
